@media (max-width: 768px) {
    .fc-button-group > button {
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-top: 10px !important;
        border-radius: 5px !important;
    }
}

@media (max-width: 576px) {
    .fc-button-group > button {
        margin-left: 3px !important;
        margin-right: 3px !important;
        margin-top: 7px !important;
        border-radius: 3px !important;
    }
}
    
.popoverStyle {
    z-index: 99999 !important;
    }

a {
    color: black !important;
    font-weight: bold;
    }

.popoverStyle .popover-header {
    background-color: #1B9C85 !important;
    color: white !important;
    font-weight: bold;
    }

.popoverStyle .popover-body {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    border-radius: 10px;
    }
    
.fc-button-group > button {
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 10px !important;
    border-radius: 5px !important;
    background-color: #1B9C85 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none !important;
    color: white !important;
    }

.fc-button-group > button:hover {
    background-color: #0F665C !important;
    }
    
.fc-toolbar-chunk > button {
    background-color: #1B9C85 !important;
    color: white !important;
    border: none !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
}

.fc-toolbar-chunk > button:hover {
    background-color: #0F665C !important;
    }
    
.fc-event {
    background-color: transparent;
    border: none;
    }


.fc-event-title {
    margin-top: 10px;
    color: black !important;
    font-size: 18px !important;
    margin-left: 5px;
}