@media (max-width: 768px) {
    .fc-button-group > button {
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-top: 10px !important;
        border-radius: 5px !important;
    }
}

@media (max-width: 576px) {
    .fc-button-group > button {
        margin-left: 3px !important;
        margin-right: 3px !important;
        margin-top: 7px !important;
        border-radius: 3px !important;
    }
}
    
.popoverStyle {
    z-index: 99999 !important;
    }

a {
    color: #362B48 !important;
    font-weight: bold;
    }

.popoverStyle .popover-header {
    background-color: #362B48 !important;
    color: white !important;
    font-weight: bold;
    }

.popoverStyle .popover-body {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    border-radius: 10px;
    }
    
.fc-button-group > button {
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 10px !important;
    border-radius: 5px !important;
    background-color: #362B48 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none !important;
    color: white !important;
    }

.fc-button-group > button:hover {
    background-color: black !important;
    }
    
.fc-toolbar-chunk > button {
    background-color: #362B48 !important;
    color: white !important;
    border: none !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
}

.fc-toolbar-chunk > button:hover {
    background-color: black !important;
    }
    
.fc-event {
    background-color: transparent;
    border: none;
    }


.fc-event-title {
    margin-top: 10px;
    color: #362B48 !important;
    font-size: 18px !important;
    margin-left: 5px;
}

.fc-toolbar-title {
    color:white !important;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 190px;
}

.fc-col-header-cell-cushion {
    font-weight: bold !important;
}

.fc-day {
    border-width: medium !important;
}

.fc-scrollgrid{
    border-width: medium !important;
}

.fc-daygrid-day-number{
    font-weight: bold !important;
}

.fc-scrollgrid-section {
    background-color: white ;
}

.fc{
    background-color: #362B48;
}