.popoverstyle {
    z-index: 99999 !important;
}

.fc-scoller {}

a{
    color: #212529 !important;
}

.fc-button-group > button {
    background-color: #DDFFBC !important;
    color: black !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.fc-button-group > button:hover {
    background-color: #52734D !important;
    border-color: #52734D !important;
}

.fc-toolbar-chunk > button{
    background-color: #DDFFBC !important;
    color: #52734D !important;
}

.fc-toolbar-chunk > button:hover {
    background-color: #52734D !important;
    border-color: #52734D !important;
    color: #DDFFBC;
}

.hover-button btn btn-primary {
    background-color: #DDFFBC !important;
}

.fc-event-main {
    background-color: #52734D !important;
    border-radius: 0.5rem;
}

.fc-event-main-frame {
    padding: 2.5% 7% !important;
    font-size: 130%;
    line-height: 100%;
}

.fc-event {
    border: none !important;
    background: transparent !important;
}