@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #5927E5;
}

*::-webkit-scrollbar {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Roboto';
}


.rb-gradient { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #5927E5, #834AFF, #AB6CFF, #D38EFF, #FBB1FF );
background-size: 1800% 1800%;

-webkit-animation: rainbow 8s ease infinite;
-z-animation: rainbow 8s ease infinite;
-o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

.rb-gradient2 { 
background: linear-gradient(45deg, red, blue, green, yellow);
background-size: 1800% 1800%;

-webkit-animation: rainbow 20s ease infinite;
-z-animation: rainbow 20s ease infinite;
-o-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
}


@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}