@tailwind base;
@tailwind components;
@tailwind utilities;

.container-wrapper {
  height: 100%;
}

.gradient-bg-1 {
  --darkBlue: #4c4c6d;
  --lightBlue: #97e0d7;
  --green: #1b9c85;
  background-image: linear-gradient(
    to top left,
    var(--darkBlue),
    var(--lightBlue)
  );
}

.gradient-bg-2 {
  --darkBlue: #4c4c6d;
  --lightBlue: #e8f6ef;
  --green: #1b9c85;
  background-image: linear-gradient(-205deg, var(--darkBlue), var(--green));
}

.gradient-bg-3 {
  --darkBlue: #4c4c6d;
  --lightBlue: #e8f6ef;
  --green: #1b9c85;
  --yellow: #ffe194;
  background-image: linear-gradient(165deg, var(--yellow), var(--green));
}

.logo-small {
  width: 4.5rem;
  height: fit-content;
}

